<body class="d-flex align-items-center flex-column">
  <div class="d-flex justify-content-center container-sm">
    <Section>
      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-5 text-center">
        <div class="col-md-5 p-lg-3 mx-auto my-5" id="main-banner">
          <h1 class="display-3 fw-bolder">Map Kerala <sub class="fw-normal display-6">Alpha<sub
                class="fw-normal display-10">v2</sub></sub></h1>
          <h6 class="lead fw-bold pt-4">A Gateway to Your Geospatial Map Data of Kerala</h6>
          <p class="lead font-weight-normal">An <a href="https://opendatakerala.org">OpenDataKerala.org</a> initiative
          </p>
          <a class="btn btn-outline-secondary" href="/about/">Know more</a>
        </div>
      </div>
      <div>
        <div class="d-flex flex-wrap row-cols-1 row-cols-md-3 justify-content-evenly">
          <a class="text-decoration-none p-2" href="alappuzha" onmouseover="this.style.transform = 'scale(1.05)'"
            onmouseout="this.style.transform = 'scale(1)'">
            <div class="card col">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Nehru_Trophy_Boat_Race_2012_7791.JPG/512px-Nehru_Trophy_Boat_Race_2012_7791.JPG"
                class="card-img-top" height="250px" style="object-fit: cover" loading="lazy"
                alt="Representational image for Alappuzha">
              <h1 class="display-6 text-center text-muted" style="margin-top:10px;margin-bottom:initial">Alappuzha</h1>
            </div>
          </a>
          <a class="text-decoration-none p-2" href="ernakulam" onmouseover="this.style.transform = 'scale(1.05)'"
            onmouseout="this.style.transform = 'scale(1)'">
            <div class="card col">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/INS_Vikrant_under_construction_at_Cochin_Shipyard.png/512px-INS_Vikrant_under_construction_at_Cochin_Shipyard.png"
                class="card-img-top" height="250px" style="object-fit: cover" loading="lazy"
                alt="Representational image for Ernakulam">
              <h1 class="display-6 text-center text-muted" style="margin-top:10px;margin-bottom:initial">Ernakulam</h1>
            </div>
          </a>
          <a class="text-decoration-none p-2" href="idukki" onmouseover="this.style.transform = 'scale(1.05)'"
            onmouseout="this.style.transform = 'scale(1)'">
            <div class="card col">
              <img src="https://upload.wikimedia.org/wikipedia/commons/7/72/Idukki009.jpg" class="card-img-top"
                height="250px" style="object-fit: cover" loading="lazy" alt="Representational image for Idukki">
              <h1 class="display-6 text-center text-muted" style="margin-top:10px;margin-bottom:initial">Idukki</h1>
            </div>
          </a>
          <a class="text-decoration-none p-2" href="kannur" onmouseover="this.style.transform = 'scale(1.05)'"
            onmouseout="this.style.transform = 'scale(1)'">
            <div class="card col">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Thira_festival_of_Dharmadam_Andaloor_Kaavu_40.jpg/512px-Thira_festival_of_Dharmadam_Andaloor_Kaavu_40.jpg"
                class="card-img-top" height="250px" style="object-fit: cover" loading="lazy"
                alt="Representational image for Kannur">
              <h1 class="display-6 text-center text-muted" style="margin-top:10px;margin-bottom:initial">Kannur</h1>
            </div>
          </a>
          <a class="text-decoration-none p-2" href="kasaragod" onmouseover="this.style.transform = 'scale(1.05)'"
            onmouseout="this.style.transform = 'scale(1)'">
            <div class="card col">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Bakel_Fort_Beach_Kasaragod7.jpg/512px-Bakel_Fort_Beach_Kasaragod7.jpg"
                class="card-img-top" height="250px" style="object-fit: cover" loading="lazy"
                alt="Representational image for Kasaragod">
              <h1 class="display-6 text-center text-muted" style="margin-top:10px;margin-bottom:initial">Kasaragod</h1>
            </div>
          </a>
          <a class="text-decoration-none p-2" href="kollam" onmouseover="this.style.transform = 'scale(1.05)'"
            onmouseout="this.style.transform = 'scale(1)'">
            <div class="card col">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Chinnakada_Clock_Tower.jpg/512px-Chinnakada_Clock_Tower.jpg"
                class="card-img-top" height="250px" style="object-fit: cover" loading="lazy"
                alt="Representational image for Kollam">
              <h1 class="display-6 text-center text-muted" style="margin-top:10px;margin-bottom:initial">Kollam</h1>
            </div>
          </a>
          <a class="text-decoration-none p-2" href="kottayam" onmouseover="this.style.transform = 'scale(1.05)'"
            onmouseout="this.style.transform = 'scale(1)'">
            <div class="card col">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Malarikkal5_%281%29.jpg/512px-Malarikkal5_%281%29.jpg"
                class="card-img-top" height="250px" style="object-fit: cover" loading="lazy"
                alt="Representational image for Kottayam">
              <h1 class="display-6 text-center text-muted" style="margin-top:10px;margin-bottom:initial">Kottayam</h1>
            </div>
          </a>
          <a class="text-decoration-none p-2" href="kozhikode" onmouseover="this.style.transform = 'scale(1.05)'"
            onmouseout="this.style.transform = 'scale(1)'">
            <div class="card col">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/An_Evening_At_Kozhikode_Beach.jpg/512px-An_Evening_At_Kozhikode_Beach.jpg"
                class="card-img-top" height="250px" style="object-fit: cover" loading="lazy"
                alt="Representational image for Kozhikode">
              <h1 class="display-6 text-center text-muted" style="margin-top:10px;margin-bottom:initial">Kozhikode</h1>
            </div>
          </a>
          <a class="text-decoration-none p-2" href="malappuram" onmouseover="this.style.transform = 'scale(1.05)'"
            onmouseout="this.style.transform = 'scale(1)'">
            <div class="card col">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/Bharatha_puzha_%E0%B4%A8%E0%B4%BF%E0%B4%B3_%E0%B4%A8%E0%B4%A6%E0%B4%BF_%E0%B4%AD%E0%B4%BE%E0%B4%B0%E0%B4%A4%E0%B4%AA%E0%B5%8D%E0%B4%AA%E0%B5%81%E0%B4%B4.JPG/512px-Bharatha_puzha_%E0%B4%A8%E0%B4%BF%E0%B4%B3_%E0%B4%A8%E0%B4%A6%E0%B4%BF_%E0%B4%AD%E0%B4%BE%E0%B4%B0%E0%B4%A4%E0%B4%AA%E0%B5%8D%E0%B4%AA%E0%B5%81%E0%B4%B4.JPG"
                class="card-img-top" height="250px" style="object-fit: cover" loading="lazy"
                alt="Representational image for Malappuram">
              <h1 class="display-6 text-center text-muted" style="margin-top:10px;margin-bottom:initial">Malappuram</h1>
            </div>
          </a>
          <a class="text-decoration-none p-2" href="palakkad" onmouseover="this.style.transform = 'scale(1.05)'"
            onmouseout="this.style.transform = 'scale(1)'">
            <div class="card col">
              <img src="https://upload.wikimedia.org/wikipedia/commons/b/b0/Palakkad_Fort_5.jpg" class="card-img-top"
                height="250px" style="object-fit: cover" loading="lazy" alt="Representational image for Palakkad">
              <h1 class="display-6 text-center text-muted" style="margin-top:10px;margin-bottom:initial">Palakkad</h1>
            </div>
          </a>
          <a class="text-decoration-none p-2" href="pathanamthitta" onmouseover="this.style.transform = 'scale(1.05)'"
            onmouseout="this.style.transform = 'scale(1)'">
            <div class="card col">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Pathanamthitta_town.jpg/512px-Pathanamthitta_town.jpg"
                class="card-img-top" height="250px" style="object-fit: cover" loading="lazy"
                alt="Representational image for Pathanamthitta">
              <h1 class="display-6 text-center text-muted" style="margin-top:10px;margin-bottom:initial">Pathanamthitta
              </h1>
            </div>
          </a>
          <a class="text-decoration-none p-2" href="thiruvananthapuram"
            onmouseover="this.style.transform = 'scale(1.05)'" onmouseout="this.style.transform = 'scale(1)'">
            <div class="card col">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Padmanabhaswamy_Temple_Trivandrum-_Morning_view.jpg/512px-Padmanabhaswamy_Temple_Trivandrum-_Morning_view.jpg"
                class="card-img-top" height="250px" style="object-fit: cover" loading="lazy"
                alt="Representational image for Thiruvananthapuram">
              <h1 class="display-6 text-center text-muted" style="margin-top:10px;margin-bottom:initial">
                Thiruvananthapuram</h1>
            </div>
          </a>
          <a class="text-decoration-none p-2" href="thrissur" onmouseover="this.style.transform = 'scale(1.05)'"
            onmouseout="this.style.transform = 'scale(1)'">
            <div class="card col">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/The_View_of_the_Athirapally_Falls_during_the_onset_of_Monsoon.jpg/512px-The_View_of_the_Athirapally_Falls_during_the_onset_of_Monsoon.jpg"
                class="card-img-top" height="250px" style="object-fit: cover" loading="lazy"
                alt="Representational image for Thrissur">
              <h1 class="display-6 text-center text-muted" style="margin-top:10px;margin-bottom:initial">Thrissur</h1>
            </div>
          </a>
          <a class="text-decoration-none p-2" href="wayanad" onmouseover="this.style.transform = 'scale(1.05)'"
            onmouseout="this.style.transform = 'scale(1)'">
            <div class="card col">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/View_point_of_Thamarassery_Churam.jpg/512px-View_point_of_Thamarassery_Churam.jpg"
                class="card-img-top" height="250px" style="object-fit: cover" loading="lazy"
                alt="Representational image for Wayanad">
              <h1 class="display-6 text-center text-muted" style="margin-top:10px;margin-bottom:initial">Wayanad</h1>
            </div>
          </a>
        </div>
      </div>
    </Section>
  </div>
  <footer class="bg-dark text-center text-white" style="width: 100%;margin-top:20px">
    <div class="container p-4">
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="https://wiki.openstreetmap.org/wiki/Kerala"
          role="button"><i class="fab fa-wikipedia-w"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/mapkerala/" role="button"><i
            class="fab fa-twitter"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/opendatakerala" role="button">
          <i class="fab fa-github"></i>
        </a>
      </section>
      <section class="">
        <form
          action="https://opendatakerala.us5.list-manage.com/subscribe/post?u=58926dc2250f2297095843b11&amp;id=ac97bbc2a8"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
          target="_blank" novalidate>
          <div class="row d-flex justify-content-center">
            <div class="col-md-5 col-12">
              <div class="form-outline form-white mb-4">
                <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL"
                  placeholder="Email address">
              </div>
            </div>
            <div class="col-auto">
              <input type="submit" value="Sign up for our newsletter" name="subscribe" id="mc-embedded-subscribe"
                class="btn btn-outline-light mb-4">
            </div>
          </div>
        </form>
      </section>
      <section class="mb-4">
        <p>
          An <a href="https://opendatakerala.org">OpenDataKerala</a> initiative.
        </p>
      </section>
      <section class="">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h6 class="text-uppercase">
              <ul class="list-unstyled mb-0">
                <li><a href="/about" class="text-white"style="text-decoration: none;">About</a>
                </li>
              </ul>
            </h6>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h6 class="text-uppercase">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="/credits/" class="text-white"style="text-decoration: none;">Credits</a>
                </li>
              </ul>
            </h6>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h6 class="text-uppercase">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#" class="text-white" style="text-decoration: none;">Privacy Policy</a>
                </li>
              </ul>
            </h6>
          </div>
        </div>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright OpenDataKerala contributors
      <br />
      MapKerala is made available under the Open Database License:
      <a href="https://opendatacommons.org/licenses/odbl/1.0/">http://opendatacommons.org/licenses/odbl/1.0/</a>.
      <br />
      Any rights in individual contents of the database are licensed under the Database Contents License:
      <a href="https://opendatacommons.org/licenses/dbcl/1.0/">http://opendatacommons.org/licenses/dbcl/1.0/</a>
    </div>
  </footer>
</body>
