@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");
@import url('https://smc.org.in/fonts/gayathri.css');
html, body {
    font-family: 'Gayathri', sans-serif;
}
@media (min-width: 600px) {
    #main-banner {
        min-width: 600px;
    }
}

@media (max-width: 600px) {
    #main-banner h1 {
        font-size: 30px;
    }
}

